<h1>Leaderboard</h1>

<p>
  [ SEARCH ]
</p>

<table class="list">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Profile</th>
    <th>Wins</th>
    <th>Losses</th>
  </tr>
  <%= render @users %>
</table>