<h1>Leaderboard</h1>

<p>
  [ SEARCH ]
</p>

<div class="listing">

  <table>
    <tr>
      <th>Player</th>
      <th>Matches</th>
      <th>Matches<br>in progress</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Draws</th>
    </tr>
    <%= render @users %>
  </table>

</div>