<%= link_to(match) do %>
  <div class="box <%= match.player_tag(current_user) %>">
    <p class="box-top">
      vs.
    </p>
    <p class="box-middle">
      <%= match.opponent(current_user).name %>
    </p>
    <p class="box-bottom">
      <%= match.short_description(current_user) %>
    </p>
  </div>
<% end %>