<h1>Open matches</h1>

<table class="list">
  <tr>
    <th>ID</th>
    <th>Player X</th>
    <th>Player O</th>
    <th>Status</th>
  </tr>
  <%= render @matches %>
</table>

<h1>Completed matches</h1>

<p>[ ]</p>