<h1>Matches in progress</h1>

<% if @matches_in_progress.any? %>
  <div class="box-container">
    <%= render @matches_in_progress %>
  </div>
<% else %>
  <p>
    None yet
  </p>
<% end %>

<h1>Completed matches</h1>

<% if @completed_matches.any? %>
  <div class="box-container">
    <%= render @completed_matches %>
  </div>
<% else %>
  <p>
    None yet
  </p>
<% end %>