/* ==================== PAGE ==================== */

body {
  background-image: url("http://i.imgur.com/CXDr8yz.jpg");
  font-family: Arial;
}

.page-wrap {
  max-width: 700px;
  margin: 0 auto;
}

/* ==================== SHARED ELEMENTS ==================== */

a {
  text-decoration: none;
}

.active {
  background-color: rgba(255,255,255,0.9);
}

.good {
  background-color: rgba(50,200,50,0.9);
}

.bad {
  background-color: rgba(250,150,150,0.9);
}

.neutral {
  background-color: rgba(170,170,170,0.9)
}

/* ==================== HEADER ==================== */

header {
  display: inline-block;
  width: 100%;
}

header h1 {
  color: rgba(255,255,255,0.9);
  float: left;
  font-size: 40px;
}

.authentication {
  margin-top: 10px;
  float: right;
}

.authentication a, .authentication a:visited {
  background-color: rgba(255,255,255,0.2);
  color: rgba(255,255,255,0.9);
  text-decoration: none;
  padding: 2px;
}

.authentication a:hover {
  background-color: rgba(255,255,255,0.9);
  color: black;
}

/* ==================== NAV ==================== */

nav {
  padding-bottom: 20px;
}

nav ul {
  padding-left: 0;
}

nav li {
  display: inline-block;
}

nav li a, nav li a:visited {
  background-color: rgba(255,255,255,0.2);
  color: rgba(255,255,255,0.9);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
}

nav li a:hover {
  background-color: rgba(255,255,255,0.9);
  color: black;
}

/* ==================== FLASH MESSAGES ==================== */

.notice, .alert {
  width: 80%;
  font-size: 12px;
  font-weight: normal;
  padding: 10px;
  text-align: center;
  margin: 10px auto;
}

.notice {
  background-color: rgba(100,200,100,0.9);
}

.alert {
  background-color: rgba(200,100,100,0.9);
}

/* ==================== MAIN ==================== */

main {
  background-color: rgba(255,255,255,0.8);
  display: inline-block;
  width: 100%;
}

.maincontainer {
  padding: 0 20px 40px 20px;
}

main h1 {
  font-size: 32px;
}

/* ==================== LEADERBOARD ==================== */

.leaderboard table {
  border-spacing: 0;
}

.leaderboard tr:nth-child(even) {
  background: rgba(255,255,255,0.5);
}

.leaderboard td, th {
  background-color: rgba(255,255,255,0.5);
  text-align: left;
  padding: 5px 10px 5px 10px;
  min-width: 70px;
}

.padding-right {
  padding-right: 40px;
}

/* ==================== PROFILE ==================== */

.profile-container {
  float: left;
  max-width: 400px;
}

.profile-container td {
  text-align: center;
  vertical-align: top;
}

.bigtag {
  padding: 0 20px;
  margin: 0 10px;
  font-size: 60px;
}

.profile-container p {
  padding: 10px;
}

.profile-text {
  background-color: white;
  margin-top: 20px;
}

.profile-image {
  float: right;
  margin: 20px 0;
}

/* ==================== BOXES ==================== */

.box-container {
  display: inline-block;
}

.box {
  text-align: center;
  height: 130px;
  width: 130px;
  margin: 10px;
  padding: 5px;
}

.box-float {
  float: left;
}

.box img, .box p {
  margin: 4px;
}

.box-large {
  font-size: 18px;
  font-weight: bold;
}

.box-medium {
  font-size: 12px;
  font-style: italic;
}

.box-small {
  font-size: 10px;
}

/* ==================== BOARD ==================== */

.center {
  text-align: center;
}

.board table {
  margin: 10px;
}

.board td {
  background-color: white;
  height: 100px;
  width: 100px;
  font-size: 60px;
  text-align: center;
}

.board a {
  color: white;
  text-decoration: none;
}

.board a:hover {
  color: black;
}

/* ==================== FOOTER ==================== */

footer {
  color: rgba(255,255,255,0.9);
  font-size: 12px;
  text-align: center;
  padding: 40px;
}